
{% extends 'components/base.html' %}
{% load static %}

{% block styles %}


{% endblock %}

{% block content %}
	
                    <!-- Start::page-header -->
                    <div class="page-header-breadcrumb mb-3">
                        <div class="d-flex align-center justify-content-between flex-wrap">
                            <h1 class="page-title fw-medium fs-18 mb-0">Jonli darslar</h1>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0);">
                                        XIU Onlayn
                                    </a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Jonli darslar</li>
                            </ol>
                        </div>
                    </div>
                    <!-- End::page-header -->


                    <!-- Start::row-3-->
                    <h6 class="mb-3">Barchasi:</h6>
                    <div class="row">
                        
                        {% for room in video_rooms %}
                            <div class="col-xl-3">
                            <div class="card custom-card text-center">
                                <div class="card-header">
                                    <div class="card-title">{{ room.subject_title }}</div>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-title fw-medium mb-2">{{ room.title }}</h6>
                                    <p class="card-text mb-4">{{ room.description }}</p>
                                    <a href="{% url 'dashboard:room_detail' room_id=room.room_id %}" class="btn btn-primary mt-2">Qatnashish</a>
                                </div>
                                <div class="card-footer text-muted">
                                    {{ room.start_time }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                    </div>
                    <!-- End::row-3-->

                    

{% endblock %}

{% block scripts %}
	


{% endblock %}
