{% load static %}

			<footer class="footer mt-auto py-3 text-center">
				<div class="container">
					<span class="text-muted"> © <span id="year"></span> 
						<a href="javascript:void(0);" class="text-dark fw-medium">XIU Onlayn</a>. Ishlab chiquvchi 
						<span class="bi bi-heart-fill text-danger"></span> 
						<a href="#" target="_blank"> <span class="fw-medium text-primary">XIU Axborot Texnologiyalari Markazi</span></a> Barcha huquqlar himoyalangan!
					</span>
				</div>
			</footer>