{% load static %}

<section class="section landing-footer text-fixed-white">
    <div class="container">
        <div class="row my-auto justify-content-between align-items-center mb-5 pb-5 newsletter-area gap-3">
            <div class="col-lg-6">
                <h3 class="mb-2 text-fixed-white">Yangiliklarimizga obuna bo‘ling</h3>
                <div class="op-6">Mahsulot va xizmatlarimiz haqidagi so‘nggi yangiliklardan xabardor bo‘ling</div>
            </div>
            <div class="col-lg-4">
                <div class="form mb-0">
                    <div class="form-group custom-form-group mx-auto">
                        <input type="text" class="form-control shadow-none" placeholder="Email manzilingizni kiriting...">
                        <button class="custom-form-btn btn btn-primary bg-primary border-0 right-0 shadow-none" type="button">Obuna bo‘lish</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center gy-3">
            <div class="col-xl-4">
                <p class="fw-semibold mb-3 brand-image"><a href="#"><img src="{% static 'assets/images/brand-logos/desktop-dark.png'%}" alt=""></a></p>
                <p class="mb-2 op-6 fw-normal">
                    Bizning platformamiz orqali siz o‘quv jarayonlaringizni samarali tashkil qilishingiz, vaqtni tejashingiz va sifatli ta’lim imkoniyatlaridan foydalanishingiz mumkin.
                </p>
                <p class="mb-0 op-6 fw-normal">Biz bilan birga o‘qing, rivojlaning va yangi marralarni zabt eting!</p>
            </div>
            <div class="col-sm-3 col-xl-2 col-6">
                <h6 class="fw-semibold mb-3 text-fixed-white">Mahsulotlar</h6>
                <ul class="list-unstyled fw-normal landing-footer-list mb-0">
                    <li><a href="#" class="text-fixed-white op-6">Xizmatlar</a></li>
                    <li><a href="#" class="text-fixed-white op-6">Mahsulot tavsifi</a></li>
                    <li><a href="#" class="text-fixed-white op-6">Integratsiyalar</a></li>
                    <li><a href="#" class="text-fixed-white op-6">Narxlar</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-xl-2 col-6">
                <h6 class="fw-semibold mb-3 text-fixed-white">Yordam</h6>
                <ul class="list-unstyled fw-normal landing-footer-list mb-0">
                    <li><a href="#" class="text-fixed-white op-6">Aloqa</a></li>
                    <li><a href="#" class="text-fixed-white op-6">Texnik yordam</a></li>
                    <li><a href="#" class="text-fixed-white op-6">Qo‘llanmalar</a></li>
                    <li><a href="#" class="text-fixed-white op-6">Yordam markazi</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-xl-2 col-6">
                <h6 class="fw-semibold mb-3 text-fixed-white">Boshqa</h6>
                <ul class="list-unstyled fw-normal landing-footer-list mb-0">
                    <li><a href="#" class="text-fixed-white op-6">Bozor maydonchasi</a></li>
                    <li><a href="#" class="text-fixed-white op-6">Ijtimoiy integratsiyalar</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-xl-2 col-6">
                <h6 class="fw-semibold mb-3 text-fixed-white">Biz haqimizda</h6>
                <ul class="list-unstyled fw-normal landing-footer-list mb-0">
                    <li><a href="#" class="text-fixed-white op-6">Blog</a></li>
                    <li><a href="#" class="text-fixed-white op-6">Kompaniya haqida</a></li>
                    <li><a href="#" class="text-fixed-white op-6">Mijozlarimiz</a></li>
                    <li><a href="#" class="text-fixed-white op-6">Bo‘sh ish o‘rinlari</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="landing-main-footer py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-lg-start text-center">
                <span class="text-fixed-white op-7 fs-14"> © Mualliflik huquqi <span id="year"></span> <a
                    href="#" class="text-primary fs-15 fw-semibold">XIU</a>. Barcha huquqlar himoyalangan
                </span>
            </div>
            <div class="col-lg-8 text-lg-end text-center mt-lg-0 mt-1">
                <ul class="list-unstyled fw-normal landing-footer-list mb-0">
                    <li><a href="#" class="text-fixed-white op-8">Xizmat ko‘rsatish shartlari</a></li>
                    <li><a href="#" class="text-fixed-white op-8">Maxfiylik siyosati</a></li>
                    <li><a href="#" class="text-fixed-white op-8">Huquqiy ma’lumot</a></li>
                    <li><a href="#" class="text-fixed-white op-8">Aloqa</a></li>
                    <li><a href="#" class="text-fixed-white op-8">Blog</a></li>
                    <li><a href="#" class="text-fixed-white op-8">Litsenziyalar</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
